body {
    
}

h3 {
    text-align: center;
    margin-bottom: 5%;
}

/* Profile */

.profile-pic {
    width: 80%;
    border-radius: 5%;
    margin: 2% auto;
}

#profile {
    background-color: #292b2c;
    color: white;
    padding: 5% 10%;
}

/* Education */

#education {
    background-color: #f5f5f5;
    padding: 5% 10%;
}

/* Work Experience */

#work-experience {
    background-color: #292b2c;
    color: white;
    padding: 5% 10%;
}

/* Footer */

#footer {
    background-color: #f5f5f5;
    padding: 5% 10%;
    margin: 0 auto;
    text-align: center;
}

.footer-icon {
    margin: 0 2% 2%;
}