/********** TAG SECTION ***********/

body {
    
}

h3 {
    text-align: center;
    margin-bottom: 5%;
}

footer {
    background-color: #343a40;
    padding: 2% 10%;
    margin: 0 auto;
    text-align: center;
    color: white;
}


hr {
    border: solid 3px #f5f5f5;
}

/********** CLASS SECTION ***********/

.white-section {
    padding: 5% 10%;
    background-color: #f5f5f5;
}

.dark-section {
    background-color: #292b2c;
    color: #f5f5f5;
    padding: 5% 10%;
}

.text-align-center {
    text-align: center;
}

.picture {
    width: 80%;
    margin: 2% auto;
    border-radius: 5%;
}

.picture:hover {
    width: 150%;
    position: relative;
    z-index: 1;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/********** PROFILE SECTION ***********/


/********** WORK EXPERIENCE SECTION ***********/

.work-title {
    width: 30%;
}

/********** LANGUAGES SECTION ***********/


/********** FOOTER SECTION ***********/

.footer-icon {
    margin: 0 2% 2%;
}

/********** CREATION SECTION ***********/

.creation {
    padding: 0 5%;
}

/********** DAILY-UI SECTION ***********/

.notice {
    text-align: center;
    margin-bottom: 5%;
    margin-top: -4%;
}

    /****** SIGN-UP SECTION ******/

.signUpBox {
    width: 300px;
}

    /****** CREDIT CARD CHECKOUT SECTION ******/

.credit-card {
    border: solid 10px #343a40;
    padding: 2% 5%;
    max-width: 800px;
    margin: 0 auto;
}

.card-container {
    margin-bottom: 20px;
}

.credit-card-img {
    width: 50px;
}

.credit-card-btn {
    display: block;
    margin: 10px auto 0px;
}

.credit-card-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: solid 1px #343a40;
}

.short-box {
    width: 50%;
    padding: 12px;
}

/********** RECIPE SECTION ***********/

.recipe-download {
    text-align: right;
    margin: 2% auto;
}

/********** DICE GAME SECTION ***********/

.dice {
    text-align: center;
    display: inline-block;
}

.dice-game-heading {
    margin: 30px;
    text-shadow: 5px 0 #232931;
    color: #f5f5f5;
    font-size: 3rem;
}

.dice-game-p {
    font-size: 2rem;
}

.dice-game-img {
    width: 80%;
}

/********** DRUM KIT SECTION ***********/

#drum {
    background-color: #292b2c;
    padding: 5% 10%;
    color: #f5f5f5;
    margin: auto;
    text-align: center;
}

#title {
    font-size: 5rem;
    text-shadow: 3px 0 #DA0463;
}

.w {
    background-image: url("../images/drum-kit/tom1.png");
}

.a {
    background-image: url("../images/drum-kit/tom2.png");
}

.s {
    background-image: url("../images/drum-kit/tom3.png");
}

.d {
    background-image: url("../images/drum-kit/tom4.png");
}

.j {
    background-image: url("../images/drum-kit/snare.png");
}

.k {
    background-image: url("../images/drum-kit/crash.png");
}

.l {
    background-image: url("../images/drum-kit/kick.png");
}

.set {
    margin: 10% auto;
}

.game-over {
    background-color: red;
    opacity: 0.5;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
}

.red {
    color: red;
}

.drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}

@media (max-width: 500px) {
    .drum {
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }
}