/*********** TAG SELECTORS *************/
body {
    background-color: #F5F4F4;
    width: 70%;
    margin: 0 auto;
}

hr {
    border-style: none;
    border-top-style: ridge;
    border-color: #CAE4DB;
    border-width: 10px;
    width: 100%;
}

h1, h2, h3, th {
    color: #00303F;
}

a {
    text-decoration: none;
}

a:visited {
    color: #C2B092;
}

a:hover {
    color: #A1CAE2;
}


h1 {
    
}

h3 {
    text-align: center;
}

table {
    margin: 0 auto;
}

 {
    margin: 0 auto;
}

/*********** CLASS SELECTORS *************/

.profile {
    height: 225px;
    border-radius: 50%;
}

.creations {
    width: 200px;
    border-radius: 5%;
}

.creations:hover {
    width: 250px;
}

.content {
    text-align: center;
}

.navi {
    text-align: center;
}

/*********** ID SELECTORS *************/