body {
    
}

h3 {
    text-align: center;
    margin-bottom: 5%;
}

/* Profile */

.profile-pic {
    width: 80%;
    border-radius: 5%;
    margin: 2% auto;
}

#profile {
    background-color: #292b2c;
    color: white;
    padding: 5% 10%;
}

/* Education */

#education {
    background-color: #f5f5f5;
    padding: 5% 10%;
}

/* Work Experience */

.work-title {
    width: 30%;
}

#work-experience {
    background-color: #292b2c;
    color: white;
    padding: 5% 10%;
}

/* Languages */
#languages {
    padding: 5% 10%;
    background-color: #f5f5f5;
    text-align: center
}

/* Footer */

#footer {
    background-color: #343a40;
    padding: 2% 10%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.footer-icon {
    margin: 0 2% 2%;
}

/* Creation */

#printer {
    background-color: #292b2c;
    color: #f5f5f5;
    padding: 5% 10%;
    text-align: center;
    margin: 0 auto;
}

#resin
{
    background-color: #f5f5f5;
    padding: 5% 10%;
    text-align: center;
    margin: 0 auto;
}

.creation-picture {
    width: 80%;
    margin: 0 5% 10% 5%;
    border-radius: 5%
}

.creation-picture:hover {
    width: 150%;
    position: relative;
    z-index: 1;
}

.creation {
    padding: 0 5%;
}

#recipes
{
    background-color: #292b2c;
    padding: 5% 10%;
    margin: 0 auto;
    color: #f5f5f5;
}

.recipe-download {
    text-align: right;
    margin: 2% auto;
}

#dailyUI-section {
    padding: 5% 10%;
}

.dailyUI-heading {
    margin-bottom: 1%; 
}


.notice {
    text-align: center;
    margin-bottom: 5%;
}

#dailyUI {
    background-color: #292b2c;
    padding: 5% 10%;
    margin: 0 auto;
    color: #f5f5f5;
}

.signUpBox {
    width: 30%;
}